@-webkit-keyframes pulsate {
    0% {
        opacity:1;      
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}


@mixin keyframe($name, $duration, $delay, $iteration, $direction, $tween){
    -webkit-animation: $name $duration $delay $iteration $direction $tween;
    -moz-animation: $name $duration $delay $iteration $direction $tween;
    -o-animation: $name $duration $delay $iteration $direction $tween;
    animation: $name $duration $delay $iteration $direction $tween;
}


#pulsate {
    @include keyframe(pulsate, .5s, 0, infinite, alternate, linear);
}