    <br>
    <footer>
        <div class="footer-main">
            <br>
            <br>
            <div class="container">
                <div class="row white">
                    <div class="col-sm-4">
                        <h1><span><i class="fa fa-link"></i></span> Network</h1> If you have any questions about me, feel free to connect by utilizing the following networks below.
                        <br>
                        <br>
                        <p><span><i class="fa fa-envelope-o fa-2x"></i></span>&nbsp; jamwjam@gmail.com</p>
                        <p><a style="color:inherit" href="https://github.com/jamwjam"><span><i class="fa fa-github-alt fa-2x"></i></span>&nbsp; github.com/jamwjam</a>
                        </p>
                        <p><a style="color:inherit" href="http://www.linkedin.com/in/jamwjam"><span><i class="fa fa-linkedin fa-2x"></i></span>&nbsp; linkedin.com/in/jamwjam</a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </footer>
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdpn.io/jamwjam/pen/XJNJWZ.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
</body>

</html>