<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <!--        <link rel="stylesheet" href="/css/main.css">-->

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Optional thene -->
    <!--            <link rel="stylesheet" href="/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
    <script charset="utf-8" src="js/d3.min.js"></script>

    <style>
        svg {
            display: block;
            margin: auto;
        }
        body {
            background-color: rgb(189, 213, 237);
        }
    </style>
</head>

<body>




    &nbsp
    <div class="container">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#heading-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="nav navbar-brand">{{ site.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="heading-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="http://jamwjam.github.io/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="jumbotron">
            {{ content }}

        </div>



    </div>

    <div class="container">
        <div class="well">

            <h4>Contact Information</h4>
            &nbsp
            <span class="glyphicon glyphicon-user"></span>&nbspJames Kim

            <br>&nbsp
            <span class="glyphicon glyphicon-book"></span>&nbspCS Undergraduate at University of Maryland
            <br>&nbsp
            <span class="glyphicon glyphicon-envelope"></span>&nbspjamwjam@gmail.com
            <br>&nbsp
            <span class="glyphicon glyphicon-refresh"></span>
            <a href="http://github.com/jamwjam">github.com/jamwjam</a>
        </div>
    </div>

    &nbsp
    <div class="nav navbar-inverse navbar-fixed-bottom">
        &nbsp
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
