<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <!-- Custom CSS -->
    <!--        <link rel="stylesheet" href="/css/main.css">-->

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Optional thene -->
    <!--            <link rel="stylesheet" href="/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
    <script charset="utf-8" src="js/d3.min.js"></script>

    <style>
        svg {
            display: block;
            margin: auto;
        }
        body {
            background-color: #b1a9c4;
        }
        .white,
        .white a {
            color: #fff;
        }
    </style>
</head>

<body>

    <div class="navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#heading-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="nav navbar-brand">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="heading-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="http://jamwjam.github.io/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
    &nbsp
    <div class="jumbotron">
        {{ content }}

    </div>



    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">

            <ul class="nav navbar-nav">
                <li>
                    
                    <a href="#">
                        
                        <span class="glyphicon glyphicon-user"></span>&nbspJames Kim</a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-book"></span>&nbspUniversity of Maryland</a>

                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>&nbspjamwjam@gmail.com</a>
                </li>
                <li>
                    <a href="http://github.com/jamwjam">
                        <span class="glyphicon glyphicon-refresh"></span>
                        github.com/jamwjam</a>
                </li>
            </ul>

        </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
