<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>

    <!-- original bootstrap theme -->
    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">  -->

    <!-- cosmo bootstrap theme -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" rel="stylesheet">

    <!-- cyborg bootstrap theme-->
    <!--<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cyborg/bootstrap.min.css" rel="stylesheet">-->

    <!-- font-awesome-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- d3.js-->
    <script charset="utf-8" src="js/d3.min.js"></script>

    <link rel="stylesheet" href="/css/animate.css">
</head>

<body>

    <div class="navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#heading-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://jamwjam.github.io/" class="nav navbar-brand">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="heading-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="http://jamwjam.github.io/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="http://www.codepen.io/jamwjam/blog/">Blog</a>
                </li>
                <li>
                    <a href="/project/">Projects</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    
    <div class="container" id="frame">
        <br>
        <br>
        <br>
        <br>
        <div id="content">
            I'm<span style="color:#1f1f1f">James</span>!
        </div>
        <div id="label_1">Software Engineer
        </div>
        <div id="label_2">
            Technical Writer
        </div>
        <div id="label_3">
            Web Designer
        </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1><span class="glyphicon glyphicon-picture">&nbsp</span>Background</h1>
            <hr><p>Welcome to my portfolio. I'm James, a Computer Science undergraduate and a senior at University of Maryland, College Park.</p>
            <p></p>
        </div>
        <div class="col-md-4">
            <h1><span class="glyphicon glyphicon-fire">&nbsp</span>Interests</h1>
            <hr>
            <p>There are exciting technologies out there for me to learn and explore! While not always, and when I'm not tired, I like to research, tweak, and implement things that fasinates me. </p>
            <p>Here are the following topics that I'm currently playing around with:</p>

            <h3>Big Data</h3>
            I heard some person or thing state that content is king. I fullheartedly agree. After the exposure of big data through my role as a R&D intern, I realized the importance of content and data, and how it will ever-expand in the later years. 
            <h3>Mobile App Development</h3>
              <p>I started out mobile application development realizing that even I could publish an app. Amazing!</p>
            <h3>Website Design</h3>
            <p>I have been interested in website development and design ever since I found out building one was well  within my capabilities! </p>
            <p>Of course, another reason for makeing website is that most tools/services are free!</p>
        </div>
        <div class="col-md-4">
            <h1><span class="glyphicon glyphicon-link">&nbsp</span>Network</h1>
            <hr>If you have any questions about me, feel free to connect by utilizing the following networks below.
            <br>
            <br>
            <p><span class="glyphicon glyphicon-envelope">&nbsp</span>jamwjam@gmail.com</p>
          
        </div>
    </div>
</div>
    {{ content }}

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
